/* Home Page */
Autocomplete {
	color: white;
}

#homeBtn {
	margin-top:20px;
}

#homeWrapper {
	display: flex;
	justify-content: center;
}

#home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 60%;
}

#search-box{
	margin-top: 40px;
	margin-bottom: 40px;
	
	
}

#home {
	background-size: cover;
	background-image: url(../imgs/Hurricane.jpg);
}

#homeIcon {
	height: 80px;
	padding-bottom: 0px;
	width: 100px;
}

#homeHeader, #homeDescription {
	color: white;
	text-align: center;
}

#homeHeader {
	margin: 0;
	margin-bottom: 0px;
}

#homeDescription {
	font-size: 20px;
}

#search-box .input-field, #filter-bar {
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;
	/* position: fixed; */
}

#search-box .input-field {
	padding: 10px 20px 0 20px;
}

.location-search-input {
	margin-bottom: 15px !important;
}

#filter-bar {
	/* padding-left: 20px; */
	/* padding-right: 20px; */
	margin-top: 30px;
}

.dropdown-content {
	padding: 0;
}

#search {
	border-radius: 5px;
}

.homelink{
	border: 2px solid white;
	padding: 6px;
	color: white;
	text-decoration: none;
	font-size: 1.1em;
	margin:10px auto;
}

.home-item, .about-item{
	width:96%;
	padding: 20px 16px;
	background-color: #784212;
	margin: 10px auto;
	position:relative;
}

#home i{
	margin-bottom: 20px;
	color: white;
}

.hometext{
	color: #FDEBD0;
	font-family: Roboto;
	margin-bottom: 60px;
}

/* body { */
	/* background-image: url(../../imgs/Hurricane.jpg); */
/* } */


@media (min-width: 768px) {
	.home-item .card-panel{
		display: flex;
		justify-content: space-between;
	}

	.home-item, .about-item{
	width:75%;
	padding: 40px;
	background-color: #784212;
	margin: 30px auto;
	position:relative;
	}

	.homelink{
		padding: 16px;
		font-size: 1.5em;
		margin:30px auto;
	}

}

@media (min-width: 992px) {
	
	.home-item .card-panel{
		display: flex;
		justify-content: space-between;
	}

	.home-item, .about-item{
		width:68%;
		padding: 80px;
		background-color: #784212;
		margin: 30px auto;
		position:relative;
	}

}