/* List Page */

.clickable {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
}

.card {
	height: 400px;
}

.card-image {
	width: 100%;
	height: 200px;
	background-size: cover;
}

.chip {
	margin-left: 5px;
	margin-right: 5px;
}

#file-uploader {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.card p {
	font-size: 13px;
	/* font-family: "Open Sans"; */
}

.modal-content {
    padding: 0 !important;
}

#locationInfo {
	padding: 30px;
}

#locationImage img {
    max-height: 100%;
    max-width: 100%;
}


.trash {
	position: absolute;
	top: 215px;
	left: 90%;
	z-index: 30;
	color:red;
}

.trash:hover, .exit:hover, .infobtn:hover, .card:hover {
	cursor:pointer;
}

i {
	color: black;
}

.submit {
	z-index: 0;
}

.heart {
  background-color: red;
  display: inline-block;
  float: right;
  height: 10px;
  margin: 0 10px;
  margin-top: 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}