
#profile-container {
	display: block;
	width: 900px;
    border-radius: 5px;
	font-size: 32px;
	background-color: white;
	transform: translate(0, 10%);

}

#profile-header{
	height: 200px;
	border-radius: 5px;
	text-align: center;
}

#name {
	text-align: left;
	margin-left: 20%;
}

#favorites {
	display: inline-block;
	float: left;
	width: 440px;
	padding: 7px;
	background-color: #6FCF97;
	color: white;
	font-size: 18pt;
	text-align: left;
	border-radius: 5px;
	margin-top: 30px;
}

#saved {
	display: inline-block;
	background-color: #6FCF97;
	float: right;
	left: 75%;
	width: 440px;
	padding: 7px;
	color: white;
	font-size: 18pt;
	text-align: left;
	border-radius: 5px;
	margin-top: 30px;
}